@keyframes scaling {
  From {
      transform: translate(-50%, -50%) scale(1);
  }
  To {
      transform: translate(-50%, -50%) scale(0.9);
  }
}

body {
  font-family: "Neue Haas Grotesk Display";
  background: #ECECEC;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src:  url("../assets/font.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9vw;
  text-align: center;
  margin-top: 0;
  word-spacing: 0.1em;
  line-height: 1em;
}

div {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iam {
  color: #20bbfc;
}

h1.klinker .n {
  display: inline;
}

h1 .n {
  display: none;
}

.typed-cursor{
    opacity: 1;
    animation: blink 1.2s infinite;
    color: #20bbfc;
}

@keyframes blink{
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
